/*H1 tag*/

h1 {
    margin: 15px;
    font-size: larger;
    text-align: center;
}


/*Arcade*/

#arcade {
    height: 350px;
    width: 400px;
    margin: 0 auto;
    border: 2px solid black;
}


/*Game Selection*/

.selection {
    height: 350px;
    width: 400px;
    display: grid;
    grid-template-rows: 75px 200px 75px;
    grid-template-columns: 100px 200px 100px;
    grid-template-areas: 'title title title' 'previous thumb next' '. play .';
    justify-items: center;
    align-items: center;
}

.selection .title {
    font-size: large;
    grid-area: title;
}

.selection .previous {
    grid-area: previous;
    display: block;
}

.selection .thumb {
    height: 165px;
    width: 200px;
    grid-area: thumb;
}

.selection .next {
    grid-area: next;
    display: block;
}

.selection .play {
    grid-area: play;
    display: block;
}