/*H1 tag*/

h1 {
    margin: 15px;
    font-size: larger;
    text-align: center;
}


/*Arcade*/

#arcade {
    height: 350px;
    width: 400px;
    margin: 0 auto;
    border: 2px solid black;
}


/*Game Selection*/

.selection {
    height: 350px;
    width: 400px;
    display: grid;
    grid-template-rows: 75px 200px 75px;
    grid-template-columns: 100px 200px 100px;
    grid-template-areas: 'title title title' 'previous thumb next' '. play .';
    justify-items: center;
    align-items: center;
}

.selection .title {
    font-size: large;
    grid-area: title;
}

.selection .previous {
    grid-area: previous;
    display: block;
}

.selection .thumb {
    height: 165px;
    width: 200px;
    grid-area: thumb;
}

.selection .next {
    grid-area: next;
    display: block;
}

.selection .play {
    grid-area: play;
    display: block;
}


/*End of Game*/

.endOfGame {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
}

.endOfGame .winMsg {
    grid-area: 0 / 0 / 1 / 1;
}

.endOfGame .gameScore {
    grid-area: 1 / 0 / 2 / 1;
}

.endOfGame .playAgain {
    grid-area: 2 / 0 / 3 / 1;
}

.endOfGame .oar {
    grid-area: 3 / 0 / 4 / 1;
}

.endOfGame .differentGame {
    grid-area: 4 / 0 / 5 / 1;
}


/*Memory Game*/

.memoryImg {
    height: 100px;
    width: 100px;
}